@page
@model Tp3Test2.Pages.AboutusModel
@{
    ViewData["Title"] = "AbouUs";
}


<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/aboutusstyle.css">
    </head>
    
<!-- Section À Propos -->
<div class="w3-container" style="padding:128px 16px;" >
    <h3 class="w3-center">À PROPOS DE PLANCHER EXPERT</h3>
    <p class="w3-center w3-large">Découvrez les caractéristiques clés de notre entreprise</p>
    <div class="w3-row-padding w3-center" style="margin-top:64px">
        <div class="w3-quarter">
            <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
            <p class="w3-large">Réactif</p>
            <p>Nous nous engageons à offrir une expérience réactive pour répondre à vos besoins en matière de plancher.</p>
        </div>
        <div class="w3-quarter">
            <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
            <p class="w3-large">Passion</p>
            <p>Notre passion pour les planchers se reflète dans la qualité exceptionnelle de notre travail et de nos services.</p>
        </div>
        <div class="w3-quarter">
            <i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
            <p class="w3-large">Design</p>
            <p>Nous allions un design exceptionnel à la fonctionnalité, créant ainsi des planchers qui se démarquent.</p>
        </div>
        <div class="w3-quarter">
            <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
            <p class="w3-large">Support</p>
            <p>Notre équipe de support est prête à vous accompagner à chaque étape, assurant ainsi une satisfaction totale.</p>
        </div>
    </div>
</div>


<!-- Section Équipe -->
<div class="w3-container" style="padding:128px 16px" id="team">
    <h3 class="w3-center">NOTRE ÉQUIPE</h3>
    <p class="w3-center w3-large">Les personnes qui dirigent notre entreprise avec passion</p>
    <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
                <img src="~/image/profile.jpg" alt="John" style="width:100%">
                <div class="w3-container">
                    <h3>Aya Habti</h3>
                    <p class="w3-opacity">PDG et Fondateur</p>
                    <p>Aya est la visionnaire derrière Plancher Expert. Avec une expérience de plus de 15 ans dans l'industrie des planchers, il guide l'entreprise vers le succès.</p>
                    <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
                </div>
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
                <img src="~/image/e3.jpg" alt="Jane" style="width:100%">
                <div class="w3-container">
                    <h3>Anja Doe</h3>
                    <p class="w3-opacity">Directeur Artistique</p>
                    <p>Anja apporte une créativité exceptionnelle à notre équipe. Son sens artistique donne vie à des conceptions de planchers uniques et élégantes.</p>
                    <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
                </div>
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
                <img src="~/image/e2.jpg" alt="Mike" style="width:100%">
                <div class="w3-container">
                    <h3>Mike Ross</h3>
                    <p class="w3-opacity">Designer Web</p>
                    <p>Mike combine fonctionnalité et esthétique dans chaque conception de site Web. Il assure une expérience en ligne exceptionnelle pour nos clients.</p>
                    <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
                </div>
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
                <img src="~/image/e4.jpg" alt="Dan" style="width:100%">
                <div class="w3-container">
                    <h3>Dan Star</h3>
                    <p class="w3-opacity">Designer</p>
                    <p>Dan apporte une touche artistique à chaque projet. Ses designs uniques transforment les espaces, créant une ambiance distinctive.</p>
                    <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
                </div>
            </div>
        </div>
    </div>
</div>

