@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    </head>
    <body>
    <!-- Page d accueil -->
    <div class="w3-container w3-light-grey" style="padding:128px 16px">
        <div class="w3-row-padding">
            <div class="w3-col m6">
                <h3>Bienvenue chez Plancher Expert.</h3>
                <br />
                <br />
                <p>
                    Plancher Expert est votre partenaire de confiance pour tous vos besoins en revêtements de sol.
                    Nous sommes spécialisés dans la fourniture et l'installation de divers types de couvre-planchers,
                    <br> offrant des solutions de haute qualité pour les espaces commerciaux et résidentiels.
                </p>
                <p><a href="/demande" class="w3-button w3-black"><i class="fa fa-th"> </i> Nouvelle Demande </a></p>
            </div>
            <div class="w3-col m6">
                <img class="w3-image w3-round-large" src="~/image/bg.jpg" alt="Buildings" width="700" height="394">
            </div>
        </div>
    </div>


    <!--  "Statistics" -->
    <div class="w3-container w3-row w3-center w3-dark-grey w3-padding-64">
        <div class="w3-quarter">
            <span class="w3-xxlarge">14+</span>
            <br>Partenaires
        </div>
        <div class="w3-quarter">
            <span class="w3-xxlarge">55+</span>
            <br>Projets
        </div>
        <div class="w3-quarter">
            <span class="w3-xxlarge">89+</span>
            <br> Clients
        </div>
        <div class="w3-quarter">
            <span class="w3-xxlarge">150+</span>
            <br>Personnelle
        </div>
    </div>

    <!-- Work Section -->
    <div class="w3-container" style="padding:128px 16px" id="work">
        <h3 class="w3-center">NOS PROJETS</h3>
        <p class="w3-center w3-large"> - Plancher Expert -</p>

        <div class="w3-row-padding" style="margin-top:64px">
            <div class="w3-col l3 m6">
                <img src="~/image/work6.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" >
            </div>
            <div class="w3-col l3 m6">
                <img src="~/image/work2.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" >
            </div>
            <div class="w3-col l3 m6">
                <img src="~/image/work3.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" >
            </div>
            <div class="w3-col l3 m6">
                <img src="~/image/work5.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" >
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
    <br />
    <br />
    <br />
    <br />
</body>
</html>
