@page
@model PrivacyModel
@{
    ViewData["Title"] = "Politique de confidentialité";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tp3Test2</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/privacystyle.css" asp-append-version="true" />
</head>
<body>
    <h1>@ViewData["Title"]</h1>

    <p>
        Bienvenue sur la Politique de confidentialité de Plancher Expert. Cette page vous informe de nos politiques en matière
        de collecte, d'utilisation et de divulgation des informations personnelles que nous recevons des utilisateurs du site.
    </p>

    <h2>Collecte d'informations</h2>

    <p>
        Chez Plancher Expert, nous sommes engagés à respecter votre vie privée et à protéger vos informations. Nous collectons
        des informations dans le seul but de fournir et d'améliorer nos services.
    </p>

    <h2>Utilisation des informations</h2>

    <p>
        Les informations que nous collectons sont utilisées pour comprendre vos besoins et vous offrir un meilleur service, en
        particulier pour les raisons suivantes :
    </p>

    <ul>
        <li>Assurer la conformité aux normes et lois en vigueur.</li>
        <li>Personnaliser l'expérience utilisateur.</li>
        <li>Améliorer nos produits et services.</li>
        <li>Envoyer périodiquement des emails promotionnels ou des newsletters.</li>
    </ul>

    <h2>Conservation des informations</h2>

    <p>
        Plancher Expert s'engage à ne pas conserver vos informations plus longtemps que nécessaire et à prendre toutes les
        mesures raisonnables pour les protéger contre tout accès non autorisé ou toute divulgation.
    </p>

    <h2>Partage d'informations</h2>

    <p>
        Nous ne vendons, n'échangeons ni ne louons vos informations personnelles à des tiers. Les exceptions à cette règle
        incluent la fourniture d'informations aux autorités pour se conformer à la loi.
    </p>

    <h2>Protection des informations</h2>

    <p>
        Plancher Expert prend des mesures appropriées pour assurer la sécurité de vos informations personnelles, y compris
        l'utilisation de technologies de chiffrement.
    </p>

    <h2>Modifications de la politique de confidentialité</h2>

    <p>
        Plancher Expert se réserve le droit de mettre à jour ou de modifier cette politique de confidentialité à tout
        moment. Les modifications seront effectives dès leur publication sur le site.
    </p>

    <p>
        Pour toute question ou préoccupation concernant notre politique de confidentialité, veuillez nous contacter à
        l'adresse suivante : <a href="mailto:info@plancherexpert.ma">info@plancherexpert.ma</a>.
    </p>

@* 
    <!-- Contact Section -->
    <div class="w3-container w3-light-grey" style="padding:128px 16px" id="contact">
        <h3 class="w3-center">CONTACT</h3>
        <p class="w3-center w3-large">Let's get in touch. Send us a message:</p>
        <div style="margin-top:48px">
            <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Chicago, US</p>
            <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: +00 151515</p>
            <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"></i> Email: mail@mail.com</p>
            <br>
            <form action="/action_page.php" target="_blank">
                <p><input class="w3-input w3-border" type="text" placeholder="Name" required name="Name"></p>
                <p><input class="w3-input w3-border" type="text" placeholder="Email" required name="Email"></p>
                <p><input class="w3-input w3-border" type="text" placeholder="Subject" required name="Subject"></p>
                <p><input class="w3-input w3-border" type="text" placeholder="Message" required name="Message"></p>
                <p>
                    <button class="w3-button w3-black" type="submit">
                        <i class="fa fa-paper-plane"></i> SEND MESSAGE
                    </button>
                </p>
            </form>
        </div>
    </div> *@
</body>
</html>
